#map {
  height: calc(100% - 40px);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

select {
  padding: 10px;
  border-radius: 3px;
  border-color: grey;
}
